body{
    color:#40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    line-height: 2;
}
h1{
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    margin-bottom: 0;
    color:#66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}
hr{
    border:dotted gray 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color:#11999E ;
    margin: 10px 20px;
    font-family: 'Sacramento', cursive;
    text-decoration: none;
}
a:hover{
    color:white;
}
.top-container{
    background-color:#E4F9F5 ;
    position: relative;
    padding-top: 100px;
}
.nothing{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.middle-container{
   margin-top: 100px;
   margin-bottom:100px ;
   color: gray;
    } 

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.pro{
    text-decoration: underline;
}
.code{
    width:40%;
    margin:auto;
}
.free{
    width: 30%;
    margin-left: 645px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.agari{
    width: 40%;
    margin: 40px auto 60px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.me{
    font-size: 30px;
    color: #66BFBF;
    font-weight: normal;
}
.skill-row{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    line-height: 2;
    padding-bottom: 100px;
    margin-right: 50px;
}
.jumper{
    width: 35%;
    float: left;
    margin-right: 30px;
}
.sing{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.mail {
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:12px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.mail:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.mail:active {
	position:relative;
	top:1px;
}
.mubi{
    width: 20%;
}

